
<div class="container">
    <h2> <%= parmas.type %> </h2>
     <!-- Split button -->
     <div class="btn-group pull-right">
            <button type="button" class="btn btn-default">操作</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="/posts/create">新建</a>
              </li>
            </ul>
          </div>
          <div class="col-md-8 col-md-offset-2">
              <ul class="list-group" v-for="item in postLists">
                  <li class="list-group-item">
                    <a v-bind:href="item.url">{{ item.title }}</a>
                  </li>
                </ul>
          </div>    
</div>

<script>

        var parmas = '<%= parmas %>';
        var vm = new Vue({
          el: '#app',
          data: {
           postLists:[]
          },
          created () {
            axios.get('/api/posts/category?id=' + parmas.categoryId)
              .then(function(response) {
                vm.postLists = response.data.postLists;
                vm.postLists.forEach(function(element) {
                  element.url = '/api/posts/show?id=' + element._id;
                }, this);
              })
              .catch(function(err) {
                alert(err);
              })
          },
          methods: {
            submit () {
            axios.post('/api/posts/edit',
              {
                id: postId,
                title: vm.title,
                content: vm.content
              })
              .then(function(response) {
                alert(JSON.stringify(response.data));
              })
              .catch(function(err) {
                alert(err);
              })
            }
          }
        });
        </script>