<!-- 导航栏 -->
<div class="main-header">
    <div class="container">
        <h1>技术的世界很单纯</h1>
    </div>

    <ul class="nav nav-pills navbar-right" style="margin-right:0px">
        <li role="presentation">
            <a href="https://github.com/MyColourfulLife">Github</a>
        </li>
        <li role="presentation">
            <a href="http://www.jianshu.com/u/6afa66e8740c">简书</a>
        </li>
        <li role="presentation">
            <a  data-toggle="modal" data-target="#myModal"> 微信公众号
            </a>
        </li>
    </ul>
</div>

<!-- 最新10条记录 -->
<div class="panel panel-primary col-md-8">
    <div class="panel-heading">
        <h3 class="panel-title">最近更新</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group" v-for="item in top10Items">
            <li class="list-group-item">
                <a v-bind:href="item.url">{{ item.title }}</a>
            </li>
        </ul>
    </div>
</div>

<!-- 内容分类 -->
<div class="panel panel-success col-md-4">

    <div class="panel-heading">
        <h3 class="panel-title">分类导航</h3>
    </div>

    <div class="list-group" v-for="item in categories">
        <a v-bind:href="item.url" class="list-group-item ">
            {{item.type}}
        </a>
    </div>


    <!-- 按钮触发模态框 -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                
                <img src="images/QRC.jpg" alt="IJustLikeYou">
                
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>



    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                top10Items: [],
                categories: []
            },
            methods: {
                fetchTop10() {
                    axios.get('/api/top10')
                        .then(function (res) {
                            vm.top10Items = res.data.items;
                            vm.top10Items.forEach(function (element) {
                                element.url = '/posts/show?id=' + element._id;
                            });
                        }).catch(function (error) {
                            console.log(error);
                        });
                },
                fetchCategories() {
                    axios.get('/api/posts/categories')
                        .then(function (res) {
                            vm.categories = res.data.categorylist;
                            vm.categories.forEach(function (element) {
                                element.url = '/posts/category?id=' + element._id + '&type=' + element.type;
                            }, this);
                            console.log(vm.categories,'vm.categories');
                        })
                        .catch(function (err) {
                            alert(err.message);
                        });
                },
                showImg() {

                }
            }
        });

        vm.fetchTop10();
        vm.fetchCategories();

    </script>