<!-- 导航栏 -->
<div class="main-header">
    <p>技术的世界很单纯</p>

    <ul class="nav nav-pills navbar-right" style="margin-right:0px" id="navigation">
        <li role="presentation">
            <a href="https://github.com/MyColourfulLife">Github</a>
        </li>
        <li role="presentation">
            <a href="http://www.jianshu.com/u/6afa66e8740c">简书</a>
        </li>
        <li role="presentation">
            <button data-toggle="modal" data-target="#myModal"> 微信公众号
            </button>
        </li>
    </ul>
</div>

<div class="navContent">
    <div class="recentItem">
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">最近更新</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group" v-for="item in top10Items">
                        <li class="list-group-item">
                            <a v-bind:href="item.url">{{ item.title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="navWeb">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <h3 class="panel-title">分类导航</h3>
                </div>

                <div class="list-group" v-for="item in categories">
                    <a v-bind:href="item.url" class="list-group-item ">
                        {{item.type}}
                    </a>
                </div>
            </div>
        </div>
        <div class="navApp">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                            <span class="sr-only">切换导航</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">分类导航</a>
                    </div>
                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active" v-for="(item,index) in categories" :key="index">
                                <a v-bind:href="item.url">
                                    {{item.type}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>



</div>

<!-- 最新10条记录 -->


<!-- 内容分类 -->



<!-- 按钮触发模态框 -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>

                <img src="images/QRC.jpg" alt="IJustLikeYou">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>



<script>

    var vm = new Vue({
        el: '#app',
        data: {
            top10Items: [],
            categories: []
        },
        methods: {
            fetchTop10() {
                axios.get('/api/v1/top10')
                    .then(function (response) {
                        if (response.status !== 200) {
                            throw new Error('error!');
                        }
                        return response.data;
                    })
                    .then(function (data) {
                        vm.top10Items = data.items;
                        vm.top10Items.forEach(function (element) {
                            element.url = '/posts/show?id=' + element._id;
                        });
                    }).catch(function (error) {
                        console.log(error);
                    });
            },
            fetchCategories() {
                axios.get('/api/v1/posts/categories')
                    .then(function (response) {
                        return response.data;
                    })
                    .then(function (data) {
                        vm.categories = data.categorylist;
                        vm.categories.forEach(function (element) {
                            element.url = '/posts/category?id=' + element._id + '&type=' + element.type;
                        }, this);
                        console.log(vm.categories, 'vm.categories');
                    })
                    .catch(function (err) {
                        if (err.response) {
                            alert(err.response.data.error);
                        } else {
                            alert(err.message);
                        }
                    });
            },
            showImg() {

            }
        }
    });

    vm.fetchTop10();
    vm.fetchCategories();

</script>