body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background: url(http://staticcdn.igetget.com/www/newpc/dist/img/downlod-bg.5aac54d.png) 50% no-repeat;
  background-size: cover;
}


.main-header h1 {
  margin-top: 0;
  color: #fff;
}